  <!-- Top Menu Start -->
<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="site_logo">
           Contact Application
        </div>

        <div id="templatemo_menu">
            <div id="templatemo_menu_left"></div>
            <ul>
                <li><a href="#" class="current">Home</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End of Top Menu-->
